<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYnqr27_XtYpsBzBiB6VO3WHQjGaL2t8A</string>
	<key>GCM_SENDER_ID</key>
	<string>388893342855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rtdalumni.app</string>
	<key>PROJECT_ID</key>
	<string>sankatos-ai-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sankatos-ai-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388893342855:ios:1bdeeb3023ab3153d38c22</string>
</dict>
</plist>